<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tzuhsien.pinpisode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name="com.tzuhsien.pinpisode.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImMediAt"
        tools:targetApi="31"
        tools:node="merge">

        <activity
            android:name="com.tzuhsien.pinpisode.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="www.youtube.com" android:pathPrefix="/watch" android:mimeType="text/plain"/>
                <data android:host="youtube.com" android:pathPrefix="/watch" android:mimeType="text/plain"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="youtu.be" android:mimeType="text/plain"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="open.spotify.com" android:pathPrefix="/episode" android:mimeType="text/plain"/>
            </intent-filter>

            <nav-graph android:value="@navigation/nav_graph"/>

        </activity>

        <service android:name="com.tzuhsien.pinpisode.spotifynote.SpotifyNoteService"/>

        <receiver android:name="com.tzuhsien.pinpisode.spotifynote.TimestampReceiver"/>

    </application>

</manifest>